<component name="ArtifactManager">
  <artifact type="war" name="spring-crm-rest:war">
    <output-path>$PROJECT_DIR$/spring-crm-rest-demo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-crm-rest</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-crm-rest.war">
      <element id="artifact" artifact-name="spring-crm-rest:war exploded" />
    </root>
  </artifact>
</component>